Repository dailyge/dailyge-server, pull requests merged in 2024-10, with the labels that each got.

#189 [DLG-334] Task 월간 리포트 조회 API를 개발한다.
  README.md
  dailyge-api/src/main/java/project/dailyge/app/core/task/application/TaskReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/application/service/TaskReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/persistence/TaskReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/presentation/TaskStatisticApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/presentation/response/MonthlyTasksStatisticResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/presentation/response/MonthlyWeekTasksStatisticResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/presentation/response/MonthlyWeeksRateResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/presentation/validator/TaskClientValidator.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/documentationtest/TaskStatisticDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/documentationtest/snippet/TaskSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/documentationtest/snippet/TaskStatisticSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/integrationtest/TaskReadIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/unittest/TaskClientValidatorUnitTest.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskAchievementRank.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/task/Tasks.java
  storage/rdb/src/test/java/project/dailyge/entity/test/task/TaskAchievementRankUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/task/TaskJpaEntityUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/task/TasksUnitTest.java
Labels: feat, test, refactor, style

#197 [DLG-344] 기념일 등록 API를 개발한다.
  config/schema/schema.sql
  dailyge-api/src/main/java/project/dailyge/app/common/log/LoggingAspect.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/application/AnniversaryReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/application/AnniversaryWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/application/command/AnniversaryCreateCommand.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/application/usecase/AnniversaryReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/application/usecase/AnniversaryWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/exception/AnniversaryCodeAndMessage.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/exception/AnniversaryTypeException.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/facade/AnniversaryFacade.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/persistence/AnniversaryEntityReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/persistence/AnniversaryEntityWriteDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/presentation/AnniversaryCreateApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/presentation/request/AnniversaryCreateRequest.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/presentation/response/AnniversaryCreateResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/ServerWarmUpRunner.java
  dailyge-api/src/main/java/project/dailyge/app/core/emoji/application/EmojiReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/emoji/application/EmojiWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/emoji/application/usecase/EmojiReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/emoji/application/usecase/EmojiWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/emoji/exception/EmojiCodeAndMessage.java
  dailyge-api/src/main/java/project/dailyge/app/core/emoji/exception/EmojiTypeException.java
  dailyge-api/src/main/java/project/dailyge/app/core/emoji/persistence/EmojiReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/emoji/persistence/EmojiWriteDao.java
  dailyge-api/src/main/resources/db/rdb/changelog/release-1.0.0/schema.sql
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/documentationtest/AnniversaryCreateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/documentationtest/snippet/AnniversaryCreateSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/documentationtest/snippet/AnniversarySnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/integrationtest/AnniversaryReadIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/integrationtest/AnniversarySaveIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/emoji/integrationtest/EmojiReadIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/emoji/integrationtest/EmojiSaveIntegrationTest.java
  storage/rdb/src/main/java/project/dailyge/entity/anniversary/AnniversaryEntityReadRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/anniversary/AnniversaryEntityWriteRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/anniversary/AnniversaryJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/emoji/EmojiEntityReadRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/emoji/EmojiEntityWriteRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/emoji/EmojiJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/anniversary/AnniversaryJpaEntityUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/emoji/EmojiJpaEntityUnitTest.java
Labels: feat, chore, test, refactor

#196 [DLG-342] 회고 테이블을 설계한다.
  config/schema/schema.sql
  dailyge-api/src/main/resources/db/rdb/changelog/release-1.0.0/schema.sql
  storage/rdb/src/main/java/project/dailyge/entity/retrospect/RetrospectJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/retrospect/RetrospectUnitTest.java
Labels: feat, chore, test, refactor

#199 [DLG-346] 기념일 삭제 API를 개발한다.
  dailyge-api/src/main/java/project/dailyge/app/common/auth/DailygeUser.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/application/AnniversaryWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/application/usecase/AnniversaryWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/presentation/AnniversaryCreateApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/presentation/AnniversaryDeleteApi.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/documentationtest/AnniversaryDeleteDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/documentationtest/snippet/AnniversaryDeleteSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/documentationtest/snippet/AnniversarySnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/integrationtest/AnniversaryDeleteIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/integrationtest/AnniversarySaveIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/DailygeUserUnitTest.java
  storage/rdb/src/main/java/project/dailyge/entity/anniversary/AnniversaryJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/anniversary/AnniversaryJpaEntityUnitTest.java
Labels: feat, test, refactor, style

#201 [DLG-348] 기념일 조회 API를 개발한다.
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/CommonUtils.kt
  dailyge-api/build.gradle
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/application/AnniversaryReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/application/usecase/AnniversaryReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/persistence/AnniversaryEntityReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/presentation/AnniversaryReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/presentation/response/AnniversaryResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/anniversary/presentation/validator/AnniversaryClientValidator.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/documentationtest/AnniversaryReadDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/documentationtest/snippet/AnniversaryReadSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/documentationtest/snippet/AnniversarySnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/integrationtest/AnniversaryReadIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/anniversary/unittest/AnniversaryClientValidatorUnitTest.java
  storage/rdb/src/main/java/project/dailyge/entity/anniversary/AnniversaryEntityReadRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/anniversary/AnniversaryJpaEntity.java
Labels: feat, test, refactor

#203 [DLG-349] 공휴일 조회 API를 개발한다.
  config/schema/schema.sql
  dailyge-api/build.gradle
  dailyge-api/src/main/java/project/dailyge/app/common/auth/DailygeUser.java
  dailyge-api/src/main/java/project/dailyge/app/common/utils/DateUtils.java
  dailyge-api/src/main/java/project/dailyge/app/core/holiday/application/HolidayReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/holiday/application/HolidayWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/holiday/application/usecase/HolidayReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/holiday/application/usecase/HolidayWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/holiday/persistence/HolidayReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/holiday/persistence/HolidayWriteDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/holiday/presentation/HolidayReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/holiday/presentation/response/HolidayResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/holiday/presentation/validator/HolidayClientValidator.java
  dailyge-api/src/main/resources/db/rdb/changelog/release-1.0.0/schema.sql
  dailyge-api/src/test/java/project/dailyge/app/test/common/DateUtilsUnitTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/HolidayClientValidatorTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/holiday/documentationtest/HolidayReadDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/holiday/documentationtest/snippet/HolidayReadSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/holiday/documentationtest/snippet/HolidaySnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/holiday/integrationtest/HolidayReadIntegrationTest.java
  storage/rdb/src/main/java/project/dailyge/entity/country/Country.java
  storage/rdb/src/main/java/project/dailyge/entity/holiday/HolidayEntityReadRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/holiday/HolidayEntityWriteRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/holiday/HolidayJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/country/CountryUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/holiday/HolidayJpaEntityUnitTest.java
Labels: feat, test, refactor

#204 [DLG-350] 문서 설정을 추가하고 공통 클래스 패키지를 이동한다.
  dailyge-api/src/main/java/project/dailyge/app/common/configuration/web/WebConfiguration.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/ApiDocsApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/AuthArgumentResolver.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/CommonApi.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/AuthArgumentResolverTest.java
Labels: feat, refactor

#194 [DLG-339] 쿠폰 발급 과정을 추가한다.
  admin-api/src/main/java/project/dailyge/app/common/annotation/ApplicationLayer.java
  admin-api/src/main/java/project/dailyge/app/common/annotation/FacadeLayer.java
  admin-api/src/main/java/project/dailyge/app/core/coupon/application/CouponEventUseCase.java
  admin-api/src/main/java/project/dailyge/app/core/coupon/application/CouponUseCase.java
  admin-api/src/main/java/project/dailyge/app/core/coupon/application/FreeCouponWriteUseCase.java
  admin-api/src/main/java/project/dailyge/app/core/coupon/application/facade/CouponFacade.java
  admin-api/src/main/java/project/dailyge/app/core/coupon/application/service/CouponEventEventService.java
  admin-api/src/main/java/project/dailyge/app/core/coupon/application/service/FreeCouponWriteService.java
  admin-api/src/main/java/project/dailyge/app/core/coupon/persistence/FreeCouponReadDao.java
  admin-api/src/main/java/project/dailyge/app/core/coupon/persistence/FreeCouponWriteDao.java
  admin-api/src/main/java/project/dailyge/app/core/coupon/presentation/CouponWinnerApi.java
  admin-api/src/test/java/project/dailyge/app/test/coupon/integrationtest/CouponEventUseCaseIntegrationTest.java
  admin-api/src/test/java/project/dailyge/app/test/coupon/integrationtest/FreeCouponSaveIntegrationTest.java
  dailyge-api/src/main/java/project/dailyge/app/core/monthlygoal/application/service/MonthlyGoalWriteService.java
  storage/rdb/src/main/java/project/dailyge/entity/coupon/FreeCouponJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/coupon/FreeCouponReadRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/coupon/FreeCouponWriteRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/monthlygoal/MonthlyGoalEntityReadRepository.java
  storage/rdb/src/test/java/project/dailyge/entity/test/coupon/FreeCouponUnitTest.java
Labels: feat, test

#207 [DLG-352] 주간 목표 작성 API를 개발한다.
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/WeeklyGoalWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/command/WeeklyGoalCreateCommand.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/usecase/WeeklyGoalWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/persistence/WeeklyGoalWriteDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/WeeklyGoalCreateApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/request/WeeklyGoalCreateRequest.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/response/WeeklyGoalCreateResponse.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalCreateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/snippet/WeeklyGoalCreateSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/snippet/WeeklyGoalSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/integrationtest/WeeklyGoalCreateIntegrationTest.java
  storage/rdb/src/main/java/project/dailyge/entity/weeklygoal/WeeklyGoalEntityWriteRepository.java
Labels: feat, test

#210 [DLG-356] 회고 조회 API를 개발한다.
  dailyge-api/src/main/java/project/dailyge/app/common/annotation/OffsetPageable.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/OffsetPagingArgumentResolver.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/WebConfiguration.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/application/RetrospectReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/application/usecase/RetrospectReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/persistence/RetrospectEntityReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/RetrospectReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/response/RetrospectResponse.java
  dailyge-api/src/test/java/project/dailyge/app/test/retrospect/documentationtest/RetrospectReadDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/retrospect/documentationtest/snippet/RetrospectReadSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/retrospect/documentationtest/snippet/RetrospectSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/retrospect/integrationtest/RetrospectReadIntegrationTest.java
  support/src/main/java/project/dailyge/app/page/CustomPageable.java
  support/src/main/java/project/dailyge/app/page/PageFactory.java
  support/src/test/java/project/dailyge/support/test/page/CustomPageableUnitTest.java
  support/src/test/java/project/dailyge/support/test/page/PageFactoryUnitTest.java
Labels: feat, test, refactor

#209 [DLG-355] 주간 목표 수정 API를 개발한다.
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/WeeklyGoalWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/command/WeeklyGoalUpdateCommand.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/usecase/WeeklyGoalWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/exception/WeeklyGoalCodeAndMessage.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/exception/WeeklyGoalTypeException.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/persistence/WeeklyGoalReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/WeeklyGoalUpdateApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/request/WeeklyGoalStatusUpdateRequest.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/request/WeeklyGoalUpdateRequest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalCreateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalDoneUpdateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalUpdateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/snippet/WeeklyGoalSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/snippet/WeeklyGoalUpdateSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/integrationtest/WeeklyGoalUpdateIntegrationTest.java
  storage/rdb/src/main/java/project/dailyge/entity/weeklygoal/WeeklyGoalEntityReadRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/weeklygoal/WeeklyGoalJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/weeklygoal/WeeklyGoalJpaEntityUnitTest.java
Labels: feat, test, refactor

#211 [DLG-358] 주간 목표 삭제 API를 개발한다.
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/WeeklyGoalWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/usecase/WeeklyGoalWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/WeeklyGoalDeleteApi.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalDeleteDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/snippet/WeeklyGoalDeleteSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/integrationtest/WeeklyGoalDeleteIntegrationTest.java
Labels: feat, test

#212 [DLG-360] 주간 목표 조회 API를 개발한다.
  dailyge-api/build.gradle
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/WeeklyGoalReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/usecase/WeeklyGoalReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/persistence/WeeklyGoalReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/WeeklyGoalReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/validator/WeeklyGoalClientValidator.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/response/WeeklyGoalResponse.java
  dailyge-api/src/test/java/project/dailyge/app/common/DatabaseTestBase.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalReadDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/snippet/WeeklyGoalSearchSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/snippet/WeeklyGoalSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/integrationtest/WeeklyGoalReadIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/unittest/WeeklyGoalClientValidatorUnitTest.java
  storage/rdb/src/main/java/project/dailyge/entity/weeklygoal/WeeklyGoalEntityReadRepository.java
Labels: feat, test, refactor

#213 [DLG-361] 회고 조회 시 전체페이지 개수를 추가한다.
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/OffsetPagingArgumentResolver.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/application/RetrospectReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/application/usecase/RetrospectReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/persistence/RetrospectEntityReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/RetrospectReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/response/RetrospectPageResponse.java
  dailyge-api/src/test/java/project/dailyge/app/test/retrospect/documentationtest/snippet/RetrospectSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/retrospect/integrationtest/RetrospectReadIntegrationTest.java
  support/src/main/java/project/dailyge/app/page/CustomPageable.java
  support/src/main/java/project/dailyge/app/page/PageFactory.java
  support/src/test/java/project/dailyge/support/test/page/CustomPageableUnitTest.java
  support/src/test/java/project/dailyge/support/test/page/PageFactoryUnitTest.java
Labels: feat, test, refactor

#214 [DLG-362] 회고 조회 API를 리팩토링한다.
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/CursorPagingArgumentResolver.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/OffsetPagingArgumentResolver.java
  dailyge-api/src/main/java/project/dailyge/app/core/monthlygoal/application/MonthlyGoalReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/monthlygoal/application/usecase/MonthlyGoalReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/monthlygoal/persistence/MonthlyGoalReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/monthlygoal/presentation/MonthlyGoalReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/application/RetrospectReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/application/usecase/RetrospectReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/persistence/RetrospectEntityReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/RetrospectReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/response/RetrospectPageResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/WeeklyGoalReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/application/usecase/WeeklyGoalReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/persistence/WeeklyGoalReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/WeeklyGoalReadApi.java
  dailyge-api/src/test/java/project/dailyge/app/test/monthlygoal/integrationtest/MonthlyGoalReadIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/retrospect/integrationtest/RetrospectReadIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/integrationtest/WeeklyGoalReadIntegrationTest.java
  support/src/main/java/project/dailyge/app/paging/Cursor.java
  support/src/main/java/project/dailyge/app/paging/CursorFactory.java
  support/src/main/java/project/dailyge/app/paging/CustomPageable.java
  support/src/main/java/project/dailyge/app/paging/PageFactory.java
  support/src/main/java/project/dailyge/app/response/AsyncPagingResponse.java
  support/src/test/java/project/dailyge/support/test/cursor/CursorFactoryUnitTest.java
  support/src/test/java/project/dailyge/support/test/cursor/CursorUnitTest.java
  support/src/test/java/project/dailyge/support/test/page/CustomPageableUnitTest.java
  support/src/test/java/project/dailyge/support/test/page/PageFactoryUnitTest.java
Labels: test, refactor

#215 [DLG-364] 주간 목표 패키지 구조를 수정한다.
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/WeeklyGoalCreateApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/WeeklyGoalReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/WeeklyGoalUpdateApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/request/WeeklyGoalCreateRequest.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/request/WeeklyGoalStatusUpdateRequest.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/request/WeeklyGoalUpdateRequest.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/response/WeeklyGoalCreateResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/weeklygoal/presentation/response/WeeklyGoalResponse.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalCreateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalDoneUpdateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalReadDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/WeeklyGoalUpdateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/snippet/WeeklyGoalSnippet.java
  storage/rdb/src/main/java/project/dailyge/entity/anniversary/AnniversaryJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/country/Country.java
  storage/rdb/src/main/java/project/dailyge/entity/coupon/FreeCouponJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/emoji/EmojiJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/event/EventImageJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/holiday/HolidayJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/monthlygoal/MonthlyGoalJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/notice/NoticeJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/retrospect/RetrospectJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/task/MonthlyTaskJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/user/UserJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/monthlygoal/MonthlyGoalJpaEntityUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/notice/NoticeJpaEntityUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/retrospect/RetrospectUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/task/TaskJpaEntityUnitTest.java
Labels: refactor

#217 [DLG-366] EmojiType 필드를 추가하고, 설정 값을 변경한다.
  build.gradle
  config/schema/schema.sql
  dailyge-api/src/main/java/project/dailyge/app/core/common/external/redis/LockUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/application/usecase/TaskReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/application/usecase/TaskWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/facade/TaskFacade.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/persistence/TaskReadDao.java
  dailyge-api/src/main/resources/db/rdb/changelog/release-1.0.0/schema.sql
  dailyge-api/src/test/java/project/dailyge/app/test/common/RedisUtilsUnitTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/emoji/integrationtest/EmojiSaveIntegrationTest.java
  storage/build.gradle
  storage/common/build.gradle
  storage/common/src/main/java/project/dailyge/lock/LockService.java
  storage/document/build.gradle
  storage/rdb/build.gradle
  storage/rdb/src/main/java/project/dailyge/entity/emoji/EmojiJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/emoji/EmojiType.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/emoji/EmojiJpaEntityUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/task/TaskJpaEntityUnitTest.java
Labels: chore, test, refactor

#216 [DLG-365] 반복 일정 규칙 테이블을 설계하고 엔티티를 매핑한다.
  config/schema/schema.sql
  storage/rdb/src/main/java/project/dailyge/entity/task/RecurrenceType.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskRecurrenceJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/task/TaskRecurrenceJpaEntityUnitTest.java
Labels: feat, chore

#219 [DLG-367] 회고 조회 시, 정렬 기준을 추가한다.
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/application/usecase/RetrospectReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/persistence/RetrospectReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/persistence/RetrospectWriteDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/RetrospectCreateApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/RetrospectDeleteApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/RetrospectReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/retrospect/presentation/RetrospectUpdateApi.java
  dailyge-api/src/test/java/project/dailyge/app/test/retrospect/integrationtest/RetrospectReadIntegrationTest.java
Labels: refactor, style
