Repository dailyge/dailyge-server, pull requests merged in 2024-11, with the labels that each got.

#222 [DLG-371] 쪽지 전송 API를 개발한다.
  .github/workflows/dailyge-api-ci.yaml
  build.gradle.kts
  dailyge-api/build.gradle.kts
  dailyge-api/src/main/java/project/dailyge/app/common/exception/CommonException.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/application/usecase/NoteWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/external/NoteRateLimiterReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/external/NoteRateLimiterWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/facade/NoteFacade.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/persistence/NoteReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/persistence/NoteWriteDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/presentation/NoteCreateApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/presentation/request/NoteCreateRequest.java
  dailyge-api/src/test/java/project/dailyge/app/common/CommonSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/common/DatabaseTestBase.java
  dailyge-api/src/test/java/project/dailyge/app/common/snippet/CommonSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/NoteCreateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/snippet/NoteCreateSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/snippet/NoteSnippet.kt
  dailyge-api/src/test/java/project/dailyge/app/test/note/integrationtest/NoteCreateIntegrationTest.java
  dailyge-api/src/test/resources/junit-platform.properties
  storage/common/src/main/kotlin/project/dailyge/common/ratelimiter/RateLimiterReadService.kt
  storage/common/src/main/kotlin/project/dailyge/common/ratelimiter/RateLimiterWriteService.kt
  storage/rdb/src/main/java/project/dailyge/entity/note/NoteEntityWriteRepository.java
  storage/rdb/src/main/kotlin/project/dailyge/entity/note/NoteEntityWriteRepository.kt
Labels: feat, chore, test, refactor

#223 [DLG-372] 지원 이력 테이블을 설계한다.
  dailyge-api/src/main/resources/db/rdb/changelog/release-1.0.0/schema.sql
  storage/rdb/src/main/java/project/dailyge/entity/applicationhistory/ApplicationHistoryJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/applicationhistory/ApplicationStatus.java
  storage/rdb/src/main/java/project/dailyge/entity/applicationhistory/CompanyJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/applicationhistory/CompanyType.java
  storage/rdb/src/test/java/project/dailyge/entity/test/applicationhistory/ApplicationHistoryUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/applicationhistory/CompanyUnitTest.java
  storage/rdb/src/testFixtures/java/project/dailyge/entity/applicationhistory/ApplicationHistoryFixture.java
Labels: feat, refactor, style

#224 [DLG-373] 쪽지 삭제 API를 개발한다.
  .github/workflows/dailyge-api-ci.yaml
  build.gradle.kts
  config/schema/schema.sql
  dailyge-api/build.gradle.kts
  dailyge-api/src/main/java/project/dailyge/app/core/note/application/NoteReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/application/NoteWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/application/usecase/NoteReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/application/usecase/NoteWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/exception/NoteTypeException.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/persistence/NoteReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/presentation/NoteDeleteApi.java
  dailyge-api/src/main/resources/db/rdb/changelog/release-1.0.0/schema.sql
  dailyge-api/src/test/java/project/dailyge/app/common/DatabaseTestBase.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/NoteCreateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/NoteDeleteDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/snippet/NoteDeleteSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/snippet/NoteSnippet.kt
  dailyge-api/src/test/java/project/dailyge/app/test/note/integrationtest/NoteCreateIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/integrationtest/NoteDeleteIntegrationTest.java
  gradle.properties
  settings.gradle.kts
  storage/rdb/src/main/java/project/dailyge/entity/applicationhistory/ApplicationHistoryJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/note/NoteEntityReadRepository.java
  storage/rdb/src/main/kotlin/project/dailyge/entity/note/NoteJpaEntity.kt
  storage/rdb/src/test/java/project/dailyge/entity/test/task/TaskJpaEntityUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/user/UserJpaEntityUnitTest.java
  storage/rdb/src/test/kotlin/project/dailyge/entity/test/note/NoteUnitTest.kt
  storage/rdb/src/testFixtures/java/project/dailyge/entity/applicationhistory/ApplicationHistoryFixture.java
Labels: feat, chore, test, refactor

#225 [DLG-369] 반복일정 등록 API를 개발한다.
  dailyge-api/src/main/java/project/dailyge/app/core/task/application/TaskRecurrenceWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/application/command/TaskRecurrenceCreateCommand.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/application/usecase/TaskRecurrenceWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/persistence/TaskReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/persistence/TaskRecurrenceWriteDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/persistence/TaskWriteDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/presentation/TaskRecurrenceCreateApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/presentation/requesst/TaskRecurrenceCreateRequest.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/presentation/response/TaskRecurrenceIdResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/presentation/validator/TaskRecurrenceClientValidator.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/documentationtest/TaskRecurrenceCreateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/documentationtest/snippet/TaskRecurrenceCreateSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/documentationtest/snippet/TaskSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/integrationtest/TaskRecurrenceCreateIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/unittest/TaskRecurrenceClientValidatorUnitTest.java
  storage/rdb/src/main/java/project/dailyge/entity/task/MonthlyTaskEntityReadRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/task/RecurrenceTasks.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskEntityWriteRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskJpaEntity.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskRecurrenceEntityWriteRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskRecurrenceJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/task/RecurrenceTasksUnitTest.java
  storage/rdb/src/test/java/project/dailyge/entity/test/task/TaskJpaEntityUnitTest.java
Labels: feat, test, refactor

#229 [DLG-380] Github Workflow 삭제 Shell Script 파일을 추가한다.
  .gitignore
  jib/dailyge-api/jib.gradle
  workflow_cleanup.sh
Labels: chore

#230 [DLG-382] Cache 조회 방식을 Lookaside로 수정한다.
  admin-api/src/main/java/project/dailyge/app/core/user/persistence/UserCacheWriteDao.java
  config/schema/schema.sql
  dailyge-api/src/main/java/project/dailyge/app/core/user/application/UserWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/application/usecase/UserWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/exception/UserCodeAndMessage.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/exception/UserTypeException.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/external/cache/UserCacheReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/external/oauth/GoogleOAuthManager.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/facade/UserFacade.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/persistence/UserWriteDao.java
  dailyge-api/src/main/resources/db/rdb/changelog/release-1.0.0/schema.sql
  dailyge-api/src/test/java/project/dailyge/app/test/user/integrationtest/UserCacheReadIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/unittest/GoogleOAuthManagerUnitTest.java
  storage/rdb/src/main/java/project/dailyge/entity/user/UserEntityWriteRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/user/UserJpaEntity.java
Labels: test, refactor

#232 [DLG-384] 회원가입 시, 닉네임, 이메일 정규식을 수정한다.
  storage/rdb/src/main/java/project/dailyge/entity/user/UserJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/user/UserJpaEntityUnitTest.java
Labels: fix, test

#234 [DLG-385] 로그인 시 블랙리스트를 검증하도록 수정한다.
  README.md
  dailyge-api/src/main/java/project/dailyge/app/core/user/application/UserWriteService.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/application/usecase/UserReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/application/usecase/UserWriteUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/external/oauth/GoogleOAuthManager.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/facade/UserFacade.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/integrationtest/LoginIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/integrationtest/UserCacheWriteIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/integrationtest/UserCreateIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/integrationtest/UserReadIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/integrationtest/UserUpsertIntegrationTest.java
  storage/rdb/src/main/java/project/dailyge/entity/user/UserJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/user/UserJpaEntityUnitTest.java
Labels: test, refactor

#235 [DLG-386] 로그아웃 시 사용자 캐시를 삭제한다.
  dailyge-api/src/main/java/project/dailyge/app/common/utils/CookieUtils.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/facade/UserFacade.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/CookieUtilsUnitTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/DailygeTokenUnitTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/integrationtest/LoginIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/integrationtest/UserDeleteIntegrationTest.java
Labels: test, refactor

#236 [DLG-388] 쪽지 목록 조회 API를 개발한다.
  dailyge-api/src/main/java/project/dailyge/app/core/note/application/NoteReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/application/usecase/NoteReadUseCase.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/persistence/NoteReadDao.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/presentation/NoteReadApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/presentation/response/ReceivedNoteResponse.java
  dailyge-api/src/main/java/project/dailyge/app/core/note/presentation/response/SentNoteResponse.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/NoteReadDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/snippet/NoteReadSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/documentationtest/snippet/NoteSnippet.kt
  dailyge-api/src/test/java/project/dailyge/app/test/note/integrationtest/NoteDeleteIntegrationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/note/integrationtest/NoteReadIntegrationTest.java
  modules/api/src/main/kotlin/project/dailyge/api/CursorPagingResponse.kt
  storage/rdb/src/main/java/project/dailyge/entity/note/NoteEntityReadRepository.java
  storage/rdb/src/main/java/project/dailyge/entity/user/UserJpaEntity.java
  storage/rdb/src/main/kotlin/project/dailyge/entity/note/NoteJpaEntity.kt
  storage/rdb/src/test/java/project/dailyge/entity/test/user/UserJpaEntityUnitTest.java
  storage/rdb/src/test/kotlin/project/dailyge/entity/test/note/NoteUnitTest.kt
Labels: feat, test, refactor

#237 [DLG-387] 인증에 관련된 쿠키들의 명칭을 변경한다.
  admin-api/src/main/java/project/dailyge/app/common/configuration/web/AuthArgumentResolver.java
  admin-api/src/test/java/project/dailyge/app/common/DatabaseTestBase.java
  admin-api/src/test/java/project/dailyge/app/test/common/AuthArgumentResolverTest.java
  admin-api/src/test/java/project/dailyge/app/test/notice/documentationtest/NoticeCreateDocumentation.java
  admin-api/src/test/java/project/dailyge/app/test/notice/documentationtest/snippet/NoticeSnippet.java
  admin-api/src/test/java/project/dailyge/app/test/user/documentationtest/UserBlacklistCreateDocumentation.java
  admin-api/src/test/java/project/dailyge/app/test/user/documentationtest/snippet/UserSnippet.java
  buildSrc/src/main/kotlin/CommonUtils.kt
  dailyge-api/src/main/java/project/dailyge/app/core/common/auth/AuthArgumentResolver.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/auth/DailygeToken.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/auth/LoginInterceptor.java
  dailyge-api/src/main/java/project/dailyge/app/core/common/web/Cookies.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/presentation/LoginApi.java
  dailyge-api/src/main/java/project/dailyge/app/core/user/presentation/UserDeleteApi.java
  dailyge-api/src/test/java/project/dailyge/app/common/CommonSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/common/DatabaseTestBase.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/AuthArgumentResolverTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/CookieUtilsUnitTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/CookiesUnitTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/DailygeTokenUnitTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/common/LoginInterceptorUnitTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/coupon/documentationtest/snippet/CouponSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/monthlygoal/documentationtest/snippet/MonthlyGoalSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/retrospect/documentationtest/snippet/RetrospectSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/task/documentationtest/snippet/TaskSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/documentationtest/LogoutDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/documentationtest/UserDeleteDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/documentationtest/UserReadDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/documentationtest/UserUpdateDocumentationTest.java
  dailyge-api/src/test/java/project/dailyge/app/test/user/documentationtest/snippet/UserSnippet.java
  dailyge-api/src/test/java/project/dailyge/app/test/weeklygoal/documentationtest/snippet/WeeklyGoalSnippet.java
Labels: feat, test

#238 [DLG-389] 회원가입 시, 닉네임 정규식을 수정한다.
  storage/rdb/src/main/java/project/dailyge/entity/user/UserJpaEntity.java
  storage/rdb/src/test/java/project/dailyge/entity/test/user/UserJpaEntityUnitTest.java
Labels: test, refactor

#239 [DLG-393] Serializable를 도입한 객체에 serial version UID를 추가한다.
  dailyge-api/src/main/java/project/dailyge/app/core/note/application/NoteReadService.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/application/usecase/TaskValidator.java
  dailyge-api/src/main/java/project/dailyge/app/core/task/application/usecase/TaskWriteUseCase.java
  storage/memory/src/main/java/project/dailyge/core/cache/coupon/CouponEvent.java
  storage/memory/src/main/java/project/dailyge/core/cache/user/UserCache.java
  storage/rdb/src/main/java/project/dailyge/entity/task/TaskJpaEntity.java
Labels: feat

#241 [DLG-394] README.md를 수정한다.
  README.md
Labels: docs
